
<router-outlet></router-outlet>
<section id="inicio" class="section inicio">
  <div class="carousel-container">
    <div class="carousel">
      <img src="assets/n1.jpg" alt="Imagen 1" class="active" />
      <img src="assets/n2.jpg" alt="Imagen 2" />
      <img src="assets/n3.jpg" alt="Imagen 3" />
    </div>

    <div class="carousel-controls">
      <button id="prev-slide">❮</button>
      <button id="next-slide">❯</button>
    </div>

    <div class="content slider-overlay">
      <h1>NODEES Polo Sur Hidalgo</h1>
      <p>Economía Social y Solidaria con base en conocimiento, innovación tecnológica y responsabilidad social.</p>
      <a href="#quienes-somos"><button>Conoce más</button></a>
    </div>
  </div>
</section>
